.container {
    position:relative;
    text-align:center;
    
  }
  .dv1, .dv2 {
    display:inline-block;
    width:30%;
    margin:0 4px;
    padding-top: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    /* font-family: 'Pixelify Sans', sans-serif; */
  }
  .dv1{
      padding-right: 35%;
  }


  a:visited {
    color: black; /* Change this to the desired color for visited links */
  }