/* styles.css */
/* styles.css */

.container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

  }

  .wyg-text{
    font-family: 'Crimson Text', serif;
  }
  /* styles.css */
.custom-autocomplete {
  width: 250px; /* Make the Autocomplete component 100% wide */
  height: 20%; /* Adjust the height as needed */
}

  
  .search-bar {
   /* Adjust the width as needed */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
  }
  .back-button {
    position: absolute;
    left: 5%;
    top: 2%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Change to your desired hover color */
  }
  

  @media (max-width: 950px){

    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 820px){
    .container-search{
      padding-top: 15%;
    }
  
  }
  @media (max-width: 720px){
    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 570px){
    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 500px){
    .container-search{
      padding-top: 15%;
    }
  
  }