/* styles.css */
/* styles.css */

.container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

  }
  .search-container-search{
  padding-top: 30px;
  }
  .contain-search{
    display: block;
    border: 2px solid;
    padding: 5%;
    border-radius: 10px;
  }

  .wyg-text{
    font-family: 'Crimson Text', serif;
    text-align: center;
  }
  /* styles.css */
  input.custom-autocomplete.pac-target-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;
    border-color: #14213D;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .custom-autocomplete.pac-item-query {
    background-color: red;
  }
  .search-bar-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  

  
  .search-bar {
   /* Adjust the width as needed */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
  }
  .back-button {
    position: absolute;
    left: 5%;
    top: 2%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Change to your desired hover color */
  }
  

  @media (max-width: 950px){

    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 820px){
    .container-search{
      padding-top: 15%;
    }
  
  }
  @media (max-width: 720px){
    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 570px){
    .container-search{
      padding-top: 15%;
    }
  }
  
  @media (max-width: 500px){
    .container-search{
      padding-top: 15%;
    }
  
  }