.login-page{
    max-width: 500px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
}
.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: whitesmoke;
    font-family: 'Crimson Text', serif;
font-family: 'Pixelify Sans', sans-serif;
}
.login-page form input,
.login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid 
}
.login-page form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-page form button{
    width: 150px;
    background: grey;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
}
.login-page form a{
    color: yellow;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.main-title {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 50px;
    padding: -10px;
    font-family: 'Crimson Text', serif;
font-family: 'Pixelify Sans', sans-serif;
}

.check-box{
    padding-bottom: 30px;
    padding-top: 25px;
}

.check-name{
    color: whitesmoke;
}