/* detailedTrip.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* detailed.css */

/* Style for the trip image */
/* detailed.css */

/* Style for the trip image */
.trip-image {
    max-width: 300px; /* Maximum width */
    max-height: 200px; /* Maximum height */
   /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


/* Style for the location paragraph */
.location {
    font-size: 18px; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin-top: 20px; /* Spacing above the location */
}


.loading {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.not-found {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    color: #ff0000;
}
