/* detailed.css */

.detailed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.updatetrip-button{
    display: block;
}

.detailed-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    width: 100%;
    margin-bottom: 20px;
}

.back-button-container,
.edit-button-container {
    margin: 10px;
}

.back-button,
button {
    padding: 10px 20px;
    min-width: 100px; /* Set a minimum width for buttons */
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: contents; /* Ensure button behaves like a block element */
}

.back-button:hover,
button:hover {
    background-color: #0056b3;
}

.tripinfo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
}

.trip-details-container {
    width: 60%;
    padding: 20px;
    display: contents;
}

.details-left {
    width: 50%;
}

.trip-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.back-button-container {
    margin-left: 4%;
    font-weight: bold;
}
.edit-button-container {
    margin-right: 5%;
}
.editbutton-txt{
    font-size: 16px;
}

.trip-image-detailed {
    width: 100%;
    height: auto;
}

.destination-overlay {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
}

.location {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.dates {
    margin: 5px 0 0;
}

.detailed-form {
    width: 40%;
    padding: 20px;
    margin-right: 5%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

h2 {
    margin: 0 0 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

p {
    margin: 5px 0;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.loading,
.not-found {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.loading {
    color: #007bff;
}

.not-found {
    color: #dc3545;
}

@media (max-width: 430px) {
    .tripinfo-container {
        display: contents;
    }
    .details-left {
        width: auto;
    }
    .detailed-form{
        width: auto;
        margin-right: 0;
        margin-top: 5%;
    }
    .updatetrip-button{
        margin-left: 21%;
    }

    .detailed-container{
        margin: 5%;
    }
}
