.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #E5E5E5;
    text-align: center;
    animation: fadeIn 1.2s ease-in;
  }
  
  .notfound-title {
    font-size: 10rem;
    font-weight: 900;
    color: #14213D; /* Deep blue, you can change it */
    margin: 0;
  }
  
  .notfound-text {
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
  }
  
  /* Simple fade-in animation */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  