.discover-container {
    margin: 2rem;
    font-family: Arial, sans-serif;
}

.filter-section {
    margin: 2rem 0;
}

.calendar-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.custom-calendar {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
}

.custom-calendar .react-calendar__tile--active {
    background-color: #ff5a5f; /* Airbnb-like color */
    color: white;
    border-radius: 50%;
}

.custom-calendar .react-calendar__tile:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.calendar-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: white;
}
